[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.nitpick]
style = "https://raw.githubusercontent.com/wemake-services/wemake-python-styleguide/master/styles/nitpick-style-wemake.toml"


[tool.black]
target-version = ['py36', 'py37', 'py38']
skip-string-normalization = true
include = '\.pyi?$'


[tool.poetry]
name = "django-tenant-users"
description = "A Django app to extend django-tenants to incorporate global multi-tenant users"
version = "0.4.0"
license = "MIT License"

packages = [
  { include = 'tenant_users' },
]

authors = [
  "Corvia Technologies, LLC <support@corvia.tech>",
]

readme = "README.rst"

repository = "https://www.github.com/Corvia/django-tenant-users"

keywords = [
  "django",
  "django-tenant-users",
]

classifiers = [
  "Environment :: Web Environment",
  "Framework :: Django",
  "Framework :: Django :: 2.2",
  "Framework :: Django :: 3.1",
  "Framework :: Django :: 3.2",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Topic :: Internet :: WWW/HTTP",
  "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
]

[tool.poetry.dependencies]
python = "^3.6.2"


[tool.poetry.dev-dependencies]
django = "^3.2"
django-tenants = "^3.4.1"

mypy = "^0.930"
django-stubs = "^1.9"

wemake-python-styleguide = "^0.16"
flake8-pytest-style = "^1.6"
nitpick = "^0.29"

safety = "^1.10"

pytest = "^6.2"
pytest-cov = "^3.0"
pytest-randomly = "^3.10"

sphinx = "^4.3"
sphinx-autodoc-typehints = "^1.12"
doc8 = "^0.10"
m2r2 = "^0.3"
tomlkit = "^0.7"
pytest-pythonpath = "^0.7.3"
pytest-django = "^4.5.2"
black = "^21.12b0"
python-decouple = "^3.5"
psycopg2-binary = "~2.8.0"
pytest-deadfixtures = "^2.2.1"
pytest-testmon = "^1.2.2"
pytest-timeout = "^2.0.2"
hypothesis = "^6.31.6"
nox = "^2021.10.1"
nox-poetry = "^0.8.6"
